@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    /* remove bolinhas/padrão */
    margin: 0;
    /* zera margens */
    padding: 0;
    /* zera espaçamento interno */
}

body {
    font-family: "Rubik", sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100vw;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 90px;
    width: 100%;
    gap: 20px;
}

header img {
    height: 50px;

}

.pesquisa {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-right: 10px;
    height: 30px;
    width: 900px;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
}

.pesquisa img {
    height: 20px;
    width: 20px;
}

header .qrCode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 44px;
    width: 152px;
}

.qrCode img {
    height: 33px;
    width: 33px;
}

.qrCode span {
    font-size: 12.5px;
    height: 48px;
    width: 100px;

}

.websitelanguage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 44px;
    width: 88px;
}

.websitelanguage img {
    height: 16px;
    width: 23px;

}

.websitelanguage span {
    font-size: 12px;
}

.websitelanguage p {
    font-size: 12px;
    font-weight: 700;
}

.websitelanguage .arrow {
    height: 10px;
    width: 10px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 164px;
}

.login span {
    font-size: 12px;
}

.login p {
    font-weight: 700;
}

.carrinho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    gap: 2px;
    height: 44px;
    width: 93px;
}

.carrinho img {
    height: 32px;
    width: 32px;
}

.carrinho p {
    display: flex;
    justify-content: center;
    height: 16px;
    width: 24px;
    font-size: 12px;
    font-weight: 800;
    background-color: black;
    color: white;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;

}

header nav {
    width: 100vw;
    height: 50px;
    padding-left: 140px;
    padding-right: 140px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .precoTitulo {
    display: flex;
    align-items: center;
    color: red;
    font-size: 14px;
    font-weight: 500;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
    gap: 50px;
}

nav menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 40px;
    width: 88px;
}

nav menu img {
    height: 16px;
    width: 16px;
}

nav .barra {
    height: 20px;
    width: 1px;
    opacity: 30%;
    background-color: black;
}

.pesquisaCategoria {
    display: flex;
    align-items: center;
    width: 250px;
    height: 35px;
    background-color: #f5f5f5;
    margin-left: 10px;
    gap: 10px;
    font-size: 15px;
    border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
    -moz-border-radius: 28px 28px 28px 28px;

}

.pesquisaCategoria .menu {
    margin-left: 15px;
    height: 18px;
    width: 18px;
}

.pesquisaCategoria .arrow {
    margin-left: 15%;
    height: 10px;
}

main {
    height: 100%;
    width: 100%;
}

main .banner {
    width: 100vw;
    height: 350px;
    background-color: #fbcf54
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.banner img {
    width: 240px;
    border-radius: 20px;
    opacity: 0;

}

.banner .produto1 img {
    transition: 1s;
    margin-bottom: -500px;

}

:hover .produto1 img {
    opacity: 100%;
    rotate: 30deg;
    transition: 1s;
    margin-bottom: 0;
}

.banner .produto2 img {
    transition: 1s;
    margin-bottom: -500px;

}

:hover .produto2 img {
    opacity: 100%;
    rotate: -20deg;
    transition: 2s;
    margin-bottom: 0;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.texto button {
    background-color: #000000;
    color: white;
    font-size: 17px;
    font-weight: 800;
    height: 40px;
    width: 150px;
}

.texto .paginas {
    background-color: white;
    opacity: 50%;
    height: 5px;
    width: 100px;
}

.texto h1 {
    font-size: 40px;
}

.texto span {
    font-size: 20px;
    font-weight: 300;
}

.listaProdutos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 30px;
}

.listaProdutos h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    font-size: 32px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 100px;
    padding: 10px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    width: 270px;


}

.card .nome {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card .preco {
    font-size: 1.3rem;
    font-weight: 700;
}